.hero{
    padding-top:var(--spacing-lg);
    background-color: var(--color-secondary);



    .wrapper{
        display:flex;
        justify-content: space-between;

        .fontfamily{
            font-family: var(--font-primary);
        }

        .fontsecondary{
            font-family: var(--font-secondary); 
        }
    }

    .hero-content{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        text-align: center;
    }

    .hero-media{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    h1{
        text-transform: uppercase;
        font-family: "Times New Roman", serif;
    }

    .suptitle{
        font-size: xx-large;
        font-weight:bold;
    }

    .bouton-hero{
        font-size:var(--font-size-button);
        border: none;
        padding:10px 25px;
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .hero .wrapper{
        display:block;
    }

    .hero__content{
        /*pour enlever l'espacement a droite du au width:60%*/
        width:100%;
    }

    .hero h1{
        font-size: var(--font-size-h2);
    }

}

@media screen and (max-width: $breakpoint-xs) {
    .hero__content .boutons{
        display:block;
    }

    .hero h1{
        font-size: var(--font-size-h3);
    }
}
